.userspage {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
	min-height: var(--main-height);
	padding: var(--spacing);
}

.userspage h1 {
	text-align: center;
}

.userspage ul {
	display: flex;
	list-style: none;
}

.userspage li {
	margin-inline: 20px;
	margin-inline-start: 0;
	text-decoration: underline;
}